
@font-face {
	font-family: "Raleway";
	src: url("Raleway-VariableFont_wght.ttf");
}


body {
	width: 100%;
	height: 100%;
	background-color: rgb(50, 50, 50);
	color: white;
	font-family: "Raleway";
	font-size: 20px;
	overflow-x: hidden;
	margin: 0px;
}

.page {
	width: 100%;
	height: 100%;
}

.logo {
	max-width: 80%;
	padding-left: 10%;
}

.content {
	display: flex;
	justify-content: space-evenly;
	height: 100%;
}

#image {
	width: 40%;
	height: 40%;
	min-height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
}

.question-and-answers {
	width: 40%;
}

.answer {
	margin: 10px;
	text-align: center;
	border: 3px solid grey;
	border-radius: 15px;
	cursor: pointer;
	transition: 0.33s background-color;
	position: relative;
	animation: slide-in 0.5s ease-out;
	animation-fill-mode: backwards;
}

.slide-out {
	animation: slide-out 0.5s ease-in;
	animation-fill-mode: forwards;
}

@keyframes slide-in {
	from { left: 120%; }
	to { left: 0%; }
}

@keyframes slide-out {
	from { left: 0%; }
	to { left: 120%; }
}

.alternative:hover {
	background-color: rgb(55, 40, 184);
	transition: 0.33s background-color;
}

.right, right:hover {
	background-color: rgb(23, 154, 28);
}
.wrong, .wrong:hover {
	background-color: rgb(184, 40, 40);
}

#answertext {
	margin: 10px;
	text-align: center;
}

#biotext {
	margin: 10px;
	text-align: center;
}

#points {
	margin: 10px;
	color: rgb(41, 233, 48);
	text-align: left;
}

@keyframes fade-in {
	from {color: rgb(50, 50, 50); }
	to { color: white; }
}

@keyframes fade-out {
	from { color: white; }
	to {color: rgb(50, 50, 50); }
}

#next {
	display: flex;
	justify-content: flex-end;
}

#next > div {
	border: solid grey;
	border-width: 3px 0px 3px 3px;
	border-radius: 15px 0px 0px 15px;
	padding: 15px;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
	position: relative;
	cursor: pointer;
}

.hidden {
	display: none !important;
}
